@model AgarIA.Web.Dtos.ChangePasswordDto

<div class="max-w-md">
    <div asp-validation-summary="All" class="text-error text-sm mb-4"></div>

    <form asp-action="ChangePassword">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">New Password</legend>
            <input asp-for="NewPassword" class="input w-full" />
            <span asp-validation-for="NewPassword" class="text-error text-sm"></span>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Confirm Password</legend>
            <input asp-for="ConfirmPassword" class="input w-full" />
            <span asp-validation-for="ConfirmPassword" class="text-error text-sm"></span>
        </fieldset>

        <div class="alert alert-info mt-4 mb-4">
            <icon name="information-circle" size="5" />
            <span>Password must be at least 4 characters long.</span>
        </div>

        <button type="submit" class="btn btn-neutral">Change Password</button>
    </form>
</div>
